@import "tailwindcss";

@layer utility {
    pre {
        @apply my-2 overflow-x-auto;
    }

    pre code.torchlight {
        @apply block p-4 min-w-max;
    }

    pre code.torchlight .line {
        @apply px-2;
    }

    pre code.torchlight .line-number,
    pre code.torchlight .summary-caret {
        @apply mr-2;
    }

    .torchlight.has-focus-lines .line:not(.line-focus) {
        transition: filter 0.35s, opacity 0.35s;
        filter: blur(.095rem);
        opacity: .65;
    }

    .torchlight.has-focus-lines:hover .line:not(.line-focus) {
        filter: blur(0px);
        opacity: 1;
    }
}
